Package: nagios-plugins-hancock
Version: 0.0.1
Section: base
Priority: optional
Architecture: all
Depends: libjson-perl,
         liblwp-protocol-https-perl,
         libnagios-plugin-perl,
         liburi-encode-perl,
         libwww-perl,
         libyaml-perl
Maintainer: Jason Hancock <jason@jasonhancock.com>
Description: Nagios monitoriing tools from Jason Hancock
